{% macro diary(plant) %}
    <div class="card card-diary">
        <div class="card-header card-header-diary">
            FLO
        </div>
        <div class="card-body card-body-diary">
            <p class="card-text">5</p>
        </div>
    </div>
{% endmacro %}
