body {
    background-color: skyblue;
}

.main {
/*    margin-left: 5px;
    margin-right: 5px;*/
}

.germ{
    color: blue;
}
.crois{
    color: green;
}

.preflo{
    color: orange;
}

.flo{
    color: red;
}

.rec{
    color: darkred;
}
table.datatables{
    table-layout: auto;
    font-size: smaller;
    width: fit-content;

    td, tr, th{
        background: transparent !important;
        height: 60px;
        vertical-align: middle;
    }
}
