img.logo{
    max-width: 50px;
    min-height: 30px;
}
.table_col_action{
    text-align: right;
}
.header_action{
    width: 50px;
}
i.button_action{
    font-size: large;
}
div.content_breeder{
    margin-left: 50px;
    margin-right: 50px;
}
