.icons{
    font-size: 45px;
}
.nav-item{
    padding-left: 8px;
    padding-right: 5px;
}
.nav-title{
    padding-left: 5px;
}
.logo_header{
    color: #73b64f;
    font-size: 45px;
}

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}
