.card-diary{
    max-width: 3.5rem !important;
}

.card-header-diary{
    padding: 0px !important;
    text-align: center;
    font-size: .8rem !important;
    background-color: var(--default-color);
}

.card-body-diary{
    padding: 0px !important;
    text-align: center;
}

.card-footer-diary{
    font-size: .7rem !important;
    background-color: transparent !important;
    text-align: center;
    padding: 0px !important;
    padding-bottom: 3px !important;
    border-top-width: 0px !important;
}

.card-text-body{
    font-size: 1rem;
    padding-top: 6px;
}

.card-text-footer{
    font-size: .7rem !important;
    padding-bottom: 6px !important;
}
