{% extends 'breeder/base.html.twig' %}

{% block title %}Breeder{% endblock %}

{% block body %}
    <div class="content_breeder">
        <table class="table datatables bg-transparent" data-url="{{ path('app_breeder_ajax') }}" data-noimg="{{ asset('img/no-img.png') }}">
            <thead>
            <tr>
                <th class="header_action no-sort"></th>
                <th>{{ 'breeder.index.table.name'|trans }}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
