{% extends 'base.html.twig' %}

{% block title %}New MySeeds{% endblock %}

{% block body %}
    <h1>Create new MySeeds</h1>

    {{ include('my_seeds/_form.html.twig') }}

    <a href="{{ path('app_my_seeds_index') }}">back to list</a>
{% endblock %}
